*{
    margin: 0;
    padding: 0;
}

body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 87.5%;
     width: 550px;
     margin: 0 auto;
     border: 3px solid blue;
     padding: 15px 25px;
}
h1{
    font-size: 150%;
}
h2{
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
   /* background: url(imgages/plus.jpg) no-repeat left center ;
    background-size: 2%;*/
}
#image_plus{
    width: 2%;
    height: 2%;
    
    align-items: left;
    

}
h2.minus{
    background: url(imgages/minus.jpg) no-repeat left center;
}

a{
    color: black;
    text-decoration: none;
}
a:focus, a:hover{
    color: turquoise;

}
div{
    display: none;
}

div.open{
    display: block;
}

ul{
    padding-left: 45px;
}
li{
    padding-bottom: .25em;
}
p{
    padding-bottom: .25em;
    padding-left: 25px;
}